<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static' , filename='styles.css') }}">
</head>
<body>
    <header>
        <nav> 
            <div class="name2">
                <h1>Gym management</h1>
            </div>
            <div>
                <ul>

                    <li>
                        <a href="/">HOME</a>
                    </li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/membership">MEMBERSHIP</a></li>

                </ul>                               
            </div>            
        </nav>
    </header>
    <main>
        <div class="mane2">
        <h1>About Us</h1>
        </div>
        <section class="services">  
        <p>We are dedicated to providing a supportive <br> results-driven environment for our members.</p>
        <h2>Meet our team:</h2>
        </div>
        <ul>
            <li>hamxa - Owner</li><br>
            <li><br>Cbum- Personal Trainer</br></li>
            
        </ul>
        <a href="membership.html" class="cta-btn"><button> Join Now </button></a>
        </section>
        
    </main>
        <footer>
            <p>&copy; 2024 Gym Management System</p>
            <p >Email:buehhd@gmail.com</p>
             <p>contact:03122106179</p>   
        </footer>   
</body>    
</html>        