<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym mangment system</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static' , filename='styles.css') }}">
</head>
<body>
    <header>
        <nav> 
            <div>
                <h1>Gym management</h1>
            </div>
            <div>
                <ul>

                    <li>
                        <a href="/">HOME</a>
                    </li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/membership">MEMBERSHIP</a></li>
                    
                </ul>                               
            </div>            
        </nav>
    </header>
        <main>
            <section class="name">
                <h1>Welcome to Our Gym <br>to become fit</br></h1>
                <p>Your fitness journey begins here.</p>
                <a href="about.html" class="cta-btn"><button> Join Now </button></a>
            </section>
            
            <section class="services">
                <h2>Our Services</h2>
                <div class="service-card">
                    <h3>Personal Training</h3>
                    <p>Get personalized training sessions tailored to your fitness goals.</p>
                </div>
                <div class="service-card">
                    <h3>Group Classes</h3>
                    <p>Join our exciting group classes for a fun and motivating experience.</p>
                </div>
                <div class="service-card">
                    <h3>Nutrition Coaching</h3>
                    <p>Work with our experts to create a nutrition plan that supports your goals.</p>
                </div>
            </section>
        </main>
    
        <footer>
            <p>&copy; 2024 Gym Management System</p>
            <p >Email:buehhd@gmail.com</p>
             <p>contact:03122106179</p>   
        </footer>    
</body>
</html>            
                                 
                        
                        
                        
                        
                        
                        
                        
                        
  
                              