<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEMBERSHIP</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static' , filename='styles.css') }}">
    <header>
        <nav> 
            <div>
               <h1> Gym management</h1>
            </div>
            <div>
                <ul>

                    <li>
                        <a href="/">HOME</a>
                    </li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/membership">MEMBERSHIP</a></li>

                </ul>                               
            </div>            
        </nav>             
    </header>
    <main>
        <h1 class="management">Membership Plans</h1>
        <ul> 
            <section class="name">
            <li>Basic: $200/month</li>
            <li>Premium: $550/month</li>
            <li>Elite: $1000/month</li>
            </section>
        </ul>
        <a href="index.html" class="cta-btn"><button> Sign Up</button></a>
    </main>
    <footer>
        <p>&copy; 2024 Gym Management System</p>
        <p >Email:buehhd@gmail.com</p>
         <p>contact:03122106179</p>   
    </footer>    
                      
        
    
</body>
</html>

        
   
